@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
  }
  
  body {
    height: 100vh;
    background-color: rgb(103, 116, 117);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  fieldset {
    padding: 2rem;
    background-color: rgb(84, 108, 110);
    border: 2px solid rgb(53, 53, 83);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    width: 90%; 
  }
  
  h2 {
    font-size: 2rem; 
    margin-bottom: 1.5rem; 
    color: rgb(0, 0, 0);
  }
  
  label {
    font-weight: 500;
    font-size: 1rem; 
    text-align: left;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    color: rgb(0, 0, 0);
  }
  
  input {
    height: 2rem;
    font-size: 1rem; 
  }
  
  .form-btn {
    font-size: 1rem; 
    align-self: center;
    background-color: rgb(144, 172, 139);
    color: rgb(0, 0, 0);
    width: 100%;
    max-width: 15rem; 
    height: 3rem; 
    margin-top: 1.5rem; 
    border-radius: 5px;
  }
  
  .form-btn:hover {
    opacity: 0.8;
  }
  